
<div layout-gt-md="row" ng-show="vm.show">
    <section flex layout-margin class="md-whiteframe-z1 panel-widget"  class="fixed-height-widget">

        <div >
            <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" >
                <div class="md-toolbar-tools" layout-align="center center">
                    <h3 class="panel-widget-tittle" ><b>{{vm.examData.exam.name}}</b></h3>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <p>{{vm.examData.exam.description}}</p>

                <p>Test will last for :
                    <b>{{vm.examData.timeTotal || 'No description'}}</b>
                    minutes
                </p>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-warn" ng-click="vm.showExam()">START</md-button>
                </div>
            </md-content>
        </div>
    </section>
</div>

<div ng-show="!vm.show">
    <div data-ng-repeat="section in vm.listCustom">
        <div> {{vm.counter}}
        </div>
        <md-subheader class="md-warn">
        <timer countdown="section.timeInMinute * 60 " max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
        </md-subheader>
        <section flex layout-margin class="md-whiteframe-z1 panel-widget"  class="fixed-height-widget">
            <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar" >
                <div class="md-toolbar-tools" layout-align="center center">
                    <h3 class="panel-widget-tittle" ><b>{{section.name}}</b></h3>
                </div>
            </md-toolbar>

            <md-content class="md-padding" ng-repeat="question in section.questions">
                <div layout="column">
                    {{question.name}}
                </div>
                <br>
                <md-radio-group ng-model="question.selectedAnswer">
                    <md-radio-button ng-repeat="answer in question.answers"
                                ng-value="answer.content" >
                        {{answer.content}}
                    </md-radio-button>
                </md-radio-group>
                {{question.selectedAnswer}}
            </md-content>

            <md-content class="md-padding">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-warn" ng-click="vm.nextSection(section)">NEXT SECTION</md-button>
                </div>
            </md-content>
        </section>
    </div>

</div>

<!--<div ng-repeat="test in vm.selectedAnswers()">-->
    <!--{{test}}-->
<!--</div>-->
