
<div layout-gt-md="row" layout-wrap>
        <section flex="30" data-ng-repeat="item in vm.tableData" layout-margin class="md-whiteframe-z1 panel-widget"  class="fixed-height-widget">
            <div>
                <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar">
                    <div class="md-toolbar-tools">
                        <h3 class="panel-widget-tittle">{{item.name}}</h3>
                        <span flex></span>
                        <md-button ng-show="options" ng-click="$showOptions = !$showOptions" class="md-icon-button" aria-label="Show options">
                            <i class="material-icons">more_vert</i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content class="md-padding">
                    <p><b>Description:</b>
                        {{item.description || 'No description'}}
                    </p>
                    <p><b>Time:</b>
                        {{item.created_at}}
                    </p>

                    <md-button class="md-raised md-warn"  ui-sref="home.examDetail({ id: item._id})">
                        Do it now !
                    </md-button>
                </md-content>
            </div>
        </section>
</div>

