<div style="background-color: yellow; height: 100vh;" class="md-padding">

    <div style="padding:60px" ng-if="vm.gameState == 'waitingRoom' ">
        <b style="font-size: 50px;">{{vm.playJoinGameMessage}}</b>
    </div>

    <div ng-if="vm.gameState == 'question'" >

        <!--&lt;!&ndash;count down&ndash;&gt;-->
        <!--<div>{{vm.countdown}}</div>-->

        <section flex layout-margin class="md-whiteframe-z1 panel-widget" class="fixed-height-widget"
                 class="md-padding">
            <div>
                <md-toolbar md-theme="custom" class="md-hue-1 panel-widget-toolbar">
                    <div class="md-toolbar-tools" layout-align="center center">
                        <h3 class="panel-widget-tittle"><b>{{vm.currentQuestion.name}}</b></h3>
                    </div>
                </md-toolbar>
                <md-content class="md-padding" >
                    <div layout-gt-md="row" layout-wrap>
                        <md-button ng-repeat="answer in vm.currentQuestion.answers" flex="40" class="md-raised md-warn"
                                   ng-click="vm.saveAnswer(answer)">
                            {{answer.content}}
                        </md-button>

                    </div>

                </md-content>
            </div>
        </section>
    </div>

    <div ng-if="vm.gameState == 'loadingAnswer' ">
        waiting for the answer...
    </div>


    <div ng-if="vm.gameState == 'postQuestion' ">
        <span ng-if="vm.trueAnswer"
              layout-align="center center" style="font-size:100px;padding: 300px">
            Good Job !
        </span>
        <span ng-if="!vm.trueAnswer" style="font-size:100px;padding: 200px">You 're wrong  :( </span>

    </div>

</div>
