<!--<md-list-item class="md-3-line" ng-repeat="item in vm.quizList" ng-click="null">-->
    <!--<div class="md-list-item-text" layout="column" >-->
        <!--<div layout="row">-->
            <!--<div flex="80">-->
                <!--<h3>{{ item.name }}</h3>-->
                <!--<h4>{{ item.created_at }}</h4>-->
            <!--</div>-->

            <!--<md-button class="md-raised md-warn" flex="20" ui-sref="home.quizDetail({ id: item._id})">-->
                <!--PLAY-->
            <!--</md-button>-->
        <!--</div>-->

    <!--</div>-->
<!--</md-list-item>-->

<!--<md-button ui-sref="home.player">-->
    <!--JOIN A ROOM-->
<!--</md-button>-->
<md-button  ui-sref="home.player"  class="md-warn md-raised" style="float: right">
    JOIN A ROOM  <i class="material-icons">fast_forward</i>
</md-button>
<div class="table-responsive-vertical md-whiteframe-z1" >
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th><b>#</b></th>
            <th><b>Quiz</b></th>
            <th><b>Created at</b></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.quizList|  filter:search track by $index " layout-align="center center" style="padding: 0">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Name">{{ item.name }}</td>
            <td data-title="Date">{{ item.created_at | date:'medium'}}</td>
            <td data-title="Action">
                <md-button class="md-raised md-warn" ui-sref="home.quizDetail({ id: item._id})" style="margin: 0;">
                     PLAY
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="vm.quizList.length==0" >
    <b>You have not created any quiz.</b>
</div>