
<div layout-gt-md="row" layout-wrap>

<div class="table-responsive-vertical md-whiteframe-z1 md-padding" flex="50" style="float:left">
    <b>ONLINE: </b> <b style="color: #6ab3a9 ">{{vm.listOnline.length}}</b> <b>people</b>
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Student name</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in vm.listOnline track by $index"  >
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Exam">{{result.username}}</td>
            <td data-title="Date">{{result.created | date:'medium'}}</td>

        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive-vertical md-whiteframe-z1 md-padding" flex="50" style="float:left">
    <b>OFFLINE</b> <b style="color:#e75854">{{vm.listOffline.length}}</b> <b>people</b>
    <table id="table2" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Student name</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in vm.listOffline track by $index" >
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Exam">{{result.username}}</td>
            <td data-title="Date">{{result.created | date:'medium'}}</td>

        </tr>
        </tbody>
    </table>
</div>
</div>