<md-button ng-click="vm.export()"  class="md-warn md-raised" style="float: right">
    Export CSV  <i class="material-icons">file_download</i>
</md-button>
<div class="table-responsive-vertical md-whiteframe-z1">
    <!-- TODO: filter order by-->
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Exam Name</span>
        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table  class="table table-hover table-bordered" >
            <thead md-head md-order="myOrder" md-on-reorder="vm.getItems()">
            <tr md-row>
                <th md-column md-order-by="user.facebook.name"><span>Student Name</span></th>
                <th md-column md-numeric md-order-by="created_at"><span>Date</span></th>
                <th md-column md-numeric md-order-by="mark"><span>Mark</span></th>
                <th md-column md-numeric md-order-by="markByPercent">Pass</th>
                <th md-column md-numeric>Percent</th>

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.studentResult | orderBy:myOrder">
                <td md-cell>{{item.user.local.username || item.user.facebook.name}} </td>
                <td md-cell>{{item.created_at | date:'medium' }}</td>
                <td md-cell>{{item.mark}}</td>
                <td md-cell ng-if="item.markByPercent > 50">Pass</td>
                <td md-cell ng-if="item.markByPercent <= 50">Fail</td>

                <td md-cell>
                    {{item.markByPercent}}
                    <md-progress-linear  ng-if="item.markByPercent > 50"class="table-progress  md-accent                                                                                        "
                                        md-mode="determinate"
                                        value={{item.markByPercent}}>
                    </md-progress-linear>
                    <md-progress-linear   ng-if="item.markByPercent <= 50"class="table-progress  md-warn"
                                        md-mode="determinate"
                                        value={{item.markByPercent}}>
                    </md-progress-linear>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.totalItems}}" md-on-paginate="vm.getItems()" md-page-select></md-table-pagination>
</div>